@{
    ViewData["Title"] = "Home Page";

}
<partial name ="_AlertMessage"/>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* <p>
    <a href="/hanhtinh/8">Xem thông tin hành tinh</a>
</p>

<p>
    <a asp-area="productManage" asp-controller="Product" asp-action="Index">Danh sach san pham</a>
</p> *@



